table{
    border-collapse:collapse;
    width: 100%;
}
td, th{
    border:1px solid #ddd;
    text-align: left;
    padding: 8px;
}
/* even row color red and reaming #ddd */
tr:nth-child(even){
    background-color: rgb(189, 36, 36);
}